body{
    margin: 0;
}

.page{
    width: 1000px;
    margin: 65px auto 0px;
}

header{
    display: flex; /*um ao lado do outro*/
    justify-content: space-between; /*um para cada lado*/
    align-items: center;

    margin-bottom: 55px;
}

ul{
    display: flex;/*Todos os itens ao lado do outro*/
    gap: 48px; /*Distância igual entre os itens*/
    list-style: nome; /*Não mostrar os marcadores dos itens*/
    margin: 0;
    padding: 0;
}